# Lisää tähän vanhan tai uuden Sanity-projektisi Project ID ja Dataset
# Löydät Project ID:n osoitteesta https://www.sanity.io/manage

PUBLIC_SANITY_PROJECT_ID="laita_tähän_sanity_project_id"
PUBLIC_SANITY_DATASET="production"
